#define SECRET_WIFIPASS ""
#define SECRET_WIFISSID ""
#define SECRET_DEVICENAME ""

#define SECRET_MQTTSERVER ""
#define SECRET_MQTTPORT 1883
#define SECRET_MQTTUSER ""
#define SECRET_MQTTPASS ""

#define SECRET_FBUSER ""
#define SECRET_FBPASS ""
#define SECRET_FBIP "192.168.178.1"
